<h1>Favorite <%= @instrument %> Teaching Music</h1>

<%= button_to 'Enter a Favorite of Yours', new_piece_path, :method=>'get', :id=>'filter-button' %>
<br/>
<div id="filter-form">
<%= form_for :piece, :url => {:controller=>'welcome', :action=>'filter'} do |p| %>

	<table><tr>
		<td><b>Difficulty:</b> </td>
		<% ['All','Easy','Intermediate','Advanced'].each do |d| %>
		<td><%= p.radio_button 'difficulty', d, :checked => @difficulty == d ? true:false%><%= d %></td>
		<% end %>
	</tr></table>
	<table><tr>
		<td><b>Genre:</b> </td>
		
		<td>
			<%= p.select :genre, ['All','Pre-Baroque','Baroque','Classical','Romantic','Impressionistic','Jazz','20th Century','21st Century'], {:selected=>@genre} %>			
		</td>
	</tr></table>
	<table><tr>
		<td><b>Instrument:</b> </td>
		<td>
		<%= p.select :instrument, ['Piano','Voice', 'Violin', 'Viola', 'Cello', 'Bass', 'Trumpet', 'Trombone','French Horn','Tuba', 'Oboe','English Horn','Bassoon', 'Flute/Piccolo', 'Percussion'	], {:selected => @instrument}  %>
	</td></tr></table>
	<table><tr>
		<td><b>Sort By:</b> </td>
		<% ['Title','Composer', 'Genre', 'Difficulty'].each do |g| %>
			<td><%= radio_button_tag 'sort_by',  g , @sort_by == g ? true:false %><%= g%></td>
		<% end %>
	</tr></table>
	<br/>
	<%= p.button 'Update Table', :type=>'submit', :id=>'filter-button' %>
	<br/>
	<div id="note">
		<p style="font-size:14pt">
		Note: Recordings are created by searching YouTube for title and composer. Not always the best of all choices however.  Be sure to check the related links in the YouTube page for other examples. </p> 
		<table><tr><td>
		If you have an iPad, you can access this database through Music Lesson Book II 
		</td><td>
		<a href="https://itunes.apple.com/us/app/music-lesson-book-ii/id632605628?mt=8&uo=4" target="itunes_store"style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/htmlResources/assets/images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/htmlResources/assets/images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
		</td></tr></table>
		</div>
	
<% end %>

</div>
<h3><%= @pieces.count %> Pieces </h3>
<div id="pieces_table">
<table id = 'piece_table'>
	<tr><th>Title (Mouse over title to see comment.)</th><th></th><th>Composer</th><th>Genre</th><th>Difficulty</th><th>Recording</th></tr>
<% @pieces.each do |p| %>
	<tr>
		<%= hidden_field_tag "comment", p.comment, {:id => "comment", :comment=>p.comment} %>
		
		<td id='piece_title'><%= p.title %></td><td><%= link_to 'Edit',edit_piece_path(p), :id=>'edit_link' %></td><td nowrap="nowrap", id='piece_composer'> <%= p.composer %></td><td nowrap="nowrap"> <%= p.genre %></td><td> <%= p.difficulty %></td><td id='urlguess'><% if p.link.nil? %>None Found<% else %><%= link_to 'Listen', p.link, :target => '_top' %><% end %></td></tr>
<% end %>
</table>
</div>



