<h1>Favorite Piano Teaching Music</h1>

<%= button_to 'Enter a Favorite of Yours', new_piece_path, :method=>'get', :id=>'filter-button' %>
<br/>
<div id="filter-form">
<%= form_for :piece, :url => {:controller=>'welcome', :action=>'filter'} do |p| %>
	<table><tr>
		<td>Difficulty: </td>
		<% ['All','Easy','Intermediate','Advanced'].each do |d| %>
		<td><%= p.radio_button 'difficulty', d, :checked => @difficulty == d ? true:false%><%= d %></td>
		<% end %>
	</tr></table>
	<table><tr>
		<td>Genre: </td>
		<% ['All','Pre-Baroque','Baroque','Classical','Romantic','20th Century'].each do |g| %>
			<td><%= p.radio_button 'genre',  g, :checked => @genre == g ? true:false %><%= g %></td>
		<% end %>
	</tr></table>
	<table><tr>
		<td>Sort By: </td>
		<% ['Title','Composer', 'Genre', 'Difficulty'].each do |g| %>
			<td><%= radio_button_tag 'sort_by',  g , @sort_by == g ? true:false %><%= g%></td>
		<% end %>
	</tr></table>
	<br/>
	<%= p.button 'Filter', :type=>'submit', :id=>'filter-button' %>
	<br/>
<% end %>
</div>

<h3><%= @pieces.count %> Pieces </h3>
<div id="pieces_table">
<table id = 'piece_table'>
	<tr><th>Title</th><th></th><th>Composer</th><th>Genre</th><th>Difficulty</th><th>You Tube Search</th></tr>
<% @pieces.each do |p| %>
	<tr><td id='piece_title'><%= p.title %></td><td><%= link_to 'Edit',edit_piece_path(p), :id=>'edit_link' %></td><td id='piece_composer'> <%= p.composer %></td><td> <%= p.genre %></td><td> <%= p.difficulty %></td><td id='urlguess'><%= link_to 'Listen', p.link %></td></tr>
<% end %>
</table>
</div>



