<%= form_for(@piece) do |f| %>
  <% if @piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
      <% @piece.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :composer %><br />
    <%= f.text_field :composer %>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.select :genre, ['All','Pre-Baroque','Baroque','Classical','Romantic','20th Century'] %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br />
    <%= f.select :difficulty, ['All','Easy','Intermediate','Advanced'] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
