<% if !@mobile %>
<%= semantic_form_for(@piece) do |f| %>

  <% if @piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
      <% @piece.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

(Don't just say 'Prelude in C'. Give enough information to find the correct piece.)<br/>
Be as specific as you can. Include Opus if you know it.
<br/><br/>
    <%= f.input :title %> 
<br/>
    <%= f.input :composer %>

  <%= f.input :instrument, :as => :select, :collection => ['Piano','Voice', 'Violin', 'Viola', 'Cello', 'Bass', 'Trumpet', 'Trombone','French Horn','Tuba', 'Oboe','English Horn','Bassoon', 'Flute/Piccolo', 'Percussion'], :include_blank=>false %>

  <%= f.input :genre, :as => :select, :collection =>['All','Pre-Baroque','Baroque','Classical','Romantic','Impressionistic','Jazz','20th Century','21st Century'], :include_blank => false %>
  <%= f.input :difficulty, :as => :select, :collection => ['Easy','Intermediate','Advanced'], :include_blank => false %>
<p> (Optionally leave a comment if you have particular reasons for liking the piece.) </p>
  <%= f.input :comment %>
  <p>Leave blank if you don't have a URL for a recording.</p>
    <%= f.input :recording, :required=>false %> 

    <%= f.action :submit, :as => :button %>
<% end %>

<% else %>

<%= form_for(@piece, :style=>"width:100%; margin-left:0") do |f| %>

  <%= hidden_field_tag 'mobile', 'yes' %>
  <% if @piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
      <% @piece.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p id="notice"><%= notice %></p>
 <div class="field">
   <%= f.label :title %>
(Be as specific as you can. Include Opus if you know it.)<br />
   <%= f.text_field :title %><br/>
(Don't just say 'Prelude in C'. Give enough information to find the correct piece.)
 </div>
<div class="field">
  <%= f.label :composer %><br />
  <%= f.text_field :composer %>
</div>

<div class="field">
  <%= f.select  "instrument", options_for_select(['Piano','Voice', 'Violin', 'Viola', 'Cello', 'Bass', 'Trumpet', 'Trombone','French Horn','Tuba', 'Oboe','English Horn','Bassoon', 'Flute/Piccolo', 'Percussion']) %> <big>Instrument</big>
</div>
<div class="field">
  <%= f.select  "genre", options_for_select(['All','Pre-Baroque','Baroque','Classical','Romantic','Impressionistic','Jazz','20th Century','21st Century']) %> <big>Genre</big>
</div>
<div class="field">
  <%= f.select "difficulty", options_for_select(['Easy','Intermediate','Advanced']) %> <big>Difficulty</big>
</div>
<div class="field">
  <%= f.label :recording %> (Leave blank if you don't have a URL for a recording.)<br />
  <%= f.text_field :recording %>
</div>
<div class="field">
  <%= f.label :comment %> (Optionally leave a comment if you have particular reasons for liking the piece.) <br />
  <%= f.text_field :comment %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<% end %>
