<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @piece.title %>
</p>

<p>
  <b>Composer:</b>
  <%= @piece.composer %>
</p>

<p>
  <b>Genre:</b>
  <%= @piece.genre %>
</p>


<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', '/' %>
